{extend name="public/base" /}
{block name="seo"}
<title>{$title}</title>
<meta name="keywords" content="{$keyword}">
<meta name="description" content="{$desc}">
</head>
<body>
{/block}
{block name="content"}
<section class="Hui-article-box">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
		<span class="c-gray en">&gt;</span>
		考场信息
		<span class="c-gray en">&gt;</span>
		考场信息查看
		
	</nav>
	<div class="Hui-article">
		<article class="cl pd-20">
			<span class="r">共有数据：<strong>{$count}</strong> 条</span>
			
			<div class="mt-20">
				<table class="table table-border table-bordered table-bg table-hover table-sort">
					<thead>
						<tr class="text-c">
							<th width="50">学号</th>
							<th width="50">任课教师</th>
							<th width="30">组班号</th>
							<th width="160">考试科目</th>
							<th width="30">考试日期</th>
							<th width="90">考试时间</th>
							<th width="150">考试机房</th>
						</tr>
					</thead>
					<tbody>
						{volist name='examList' id='vo'}
						<tr class="text-c">
							
							<td>{$vo.student_id}</td>
							<td>{$vo.teacher}</td>
							<td>{$vo.class_id}</td>
							<td>{$vo.course}</td>
							<td>{$vo.exam_date}</td>
							<td>{$vo.exam_time}</td>
							<td>{$vo.exam_room}</td>
							
						</tr>
						{/volist}
					</tbody>
				</table>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-5"></div>
					<div class="col-md-5">{$examList->render()}</div></div>
					<div class="col-md-5"></div>
				</div>

		</article>
	</div>
</section>


<!--请在下方写此页面业务相关的脚本-->


</script> 
{/block}
<!--/请在上方写此页面业务相关的脚本-->
{block name="js"}
<script>

</script>

{/block}
</body>
</html>