<!DOCTYPE html>
<html lang="ch-zn">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<link rel="icon" type="text/css" href="__STATIC__/home/img/icon.png" />
	<link rel="stylesheet" type="text/css" href="__STATIC__/home/css/about us.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
	<div class="banner" >
		<img src="__STATIC__/home/img/about.png" alt="">
		
		<!-- <div class="banner-msg">
			<p class="banner-head">学霸思政</p>
			<p class="banner-p">1.0</p>
		</div> -->
	</div>
	<div class="name">
		<p class="name-p">学霸思政</p>
		<p class="name-version">V1.2</p>
	</div>
	<div class="main">
		<div class="content">
		<h1 class="content-h1">简介：</h1>
		<p class="content-p">东华大学易班学霸思政是一款用作思政课考试背题的轻应用，应用提供背题模式、练题模式以及模考模式等，还有收藏和错题集功能，旨在为同学们提供全方位的便利；更有练题数据统计、模考历史数据查询等你体验，并且新增思政课考试安排，在这里你将获得东华大学思政考试的一站式服务！</p>
	</div>
	<div class="bottom">
		<p class="bottom-p">东华大学易班学霸思政</p>
		<p class="bottom-p">Copyright © 2018 dhuyb</p>
	</div>
	</div>
	
</body>
</html>